body {
  width: 100vw;
  height: 100vh;
  background-image: url(./mountan.jpg);
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderStyle {
  background-color: cornflowerblue;
  border: solid cornflowerblue 1px;
  border-radius: 10px;
  width: 25vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.buttonStyle {
  height: 5vh;
  width: 15vw;
  border-radius: 10px;
  background-color: midnightblue;
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input2Style {
  height: 5vh;
  width: 15vw;
  padding-left: 10px;
  font-size: 15px;
  border: solid blue;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.inputStyle {
  height: 5vh;
  width: 15vw;
  padding-left: 10px;
  font-size: 15px;
  border: solid blue;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.input3Style {
  height: 5vh;
  width: 15vw;
  padding-left: 10px;
  font-size: 15px;
  border: solid blue;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
